#K1 {
  display: none;
}

#K2 {
  display: inline;
}

.titleimage {
  fill: #1AB28C;
}

.k2divider {
  fill: #1AB28C;
}

#titleText {
  x: 91;
  y: 48;
  fill: #1AB28C;
}

#statsscreen {
  display: none;
}

#clockscreen {
  display: inline;
}

#somescreen {
  display: none;
}

#time {
  x: 50%;
  y: 50%;
  fill: #1AB28C;
}

#batteryText {
  x: 75;
  y: 87;
  fill: #1AB28C;
}